body {
  font-family: Arial, sans-serif;
  background: #f5f5f570;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 35px;
}

table {
  width: 99%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0px auto;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 2px solid #1abc9c;
}

thead {
  background: #1abc9c;
  color: white;
}

th {
  padding: 15px;
  text-align: left;
  font-weight: 600;
}

tbody {
}

td {
  margin-top: 35px;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 35px;
}

.pagination button {
  padding: 8px 16px;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
